<html>
  
{% include "header.html" %}

<body>

{% include "navbar.html" %}
<div class="container">
        <div class="jumbotron">
       	    <p>Hi! Thanks for using our application! If you want to contact us with any feedback or concern, fill out the form below</p>
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeOJbgXsa7PcG6re5KNIn0jc2igKUrTOBji0z-59zLmhxne4w/viewform?embedded=true" width="640" height="864" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
	 </div>
	
</div>
</body>

</html>
