{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
<html>
    {% include "header.html" %}
    <body>
        {% include "navbar.html" %}
        <!-- Banner -->
			<section class="banner full">
				<article>
					<img src="{% static 'images/slide01.jpg'%}" alt=""/>
					<div class="inner">
						<header>
                            <p>{% trans "Welcome" %}, {{ userdata.name }}</p>
                            <br/>
                            <h3>{% trans "Start your next education today by exploring our" %} <b><a href="/courses"> {% trans "list of courses" %}</a></b>.</h3>
						</header>
					</div>
				</article>
			</section>

        {% include "footer.html" %}
    </body>
</html>
