{% load static i18n crispy_forms_tags %}
<html>
{% include "header.html" %}
<body>
{% include "navbar.html" %}
<section id="one" class="wrapper style3">
    <div class="inner">
        <header class="align-center">
            <h2>{% trans "Search courses" %}</h2>
        </header>
        <div class="content">
            <form method="GET" action="{{ request.path }}">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <button type="submit" class="btn btn-primary">{% trans "Search" %}</button>
            </form>
        </div>
    </div>
</section>
{% if object_list %}
    <section id="two" class="wrapper style2">
        <div class="inner">
            <div class="grid-style">
                {% for course in object_list %}
                    <div>
                        <div class="box">
                            <div class="content">
                                <header class=".align-left">
                                    <h2>{{ course.title }}</h2>
                                </header>
                                <h3>{{ course.topic }} </h3>
                                <p class="article-content">{{ course.description|linebreaksbr }}</p>
                                <footer class="align-center">
                                    <a href="/courses/course/{{ course.id }}" class="button alt"> {% trans "Learn More" %}</a>
                                </footer>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% else %}
    <section id="two" class="wrapper style3">
        <div class="inner">
            <header class="align-center">
                <h3>{% trans "No search results" %}</h3>
            </header>
        </div>
    </section>
{% endif %}
{% include "footer.html" %}
</body>
</html>
