{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
<html>
{% include "header.html" %}
<body>
{% include "navbar.html" %}
<section id="one" class="wrapper style3">
    <div class="inner">
        <header class="align-center">
            <h2>Search courses</h2>
        </header>
        <br><br>
        <form class="search" method="get">
            <input class="search-input" id="query" {% if request.GET.query %}value="{{ request.GET.query }}"{% endif %}
                   name="query" type="text" placeholder="{% trans "Your search..." %}">
        </form>
    </div>
</section>
{% if courses %}
    <section id="two" class="wrapper style2">
        <div class="inner">
            <div class="grid-style">
                {% for course in courses %}
                    <div>
                        <div class="box">
                            <div class="content">
                                <header class=".align-left">
                                    <h2>{{ course.title }}</h2>
                                </header>
                                <h3>{{ course.topic }} </h3>
                                <p class="article-content">{{ course.description|linebreaksbr }}</p>
                                <footer class="align-center">
                                    <a href="/courses/course/{{course.id}}" class="button alt"> {% trans "Learn More" %}</a>
                                </footer>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% else %}
    <section id="two" class="wrapper style3">
        <div class="inner">
            <header class="align-center">
                <h3>{% trans "No search results" %}</h3>
            </header>
        </div>
    </section>
{% endif %}
{% include "footer.html" %}
</body>
</html>
