{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
<html>
{% include "header.html" %}
<body>
{% include "navbar.html" %}
{% get_current_language as LANGUAGE_CODE %}
<h1> {{ LANGUAGE_CODE }} </h1>
<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
	<input type="hidden" name="next" value="{{ redirect_to }}">
	<select name="language" id="">
		{% get_available_languages as LANGUAGES %}
		{% get_language_info_list for LANGUAGES as languages%}
		{% for language in languages %}
			<option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE%} selected {%endif%}>{{ language.name_local }} ({{ language.code }})</option>
		{% endfor %}
	</select>
	<input type="submit" value="Go">
</form>
<section id="one" class="wrapper style3">
    <div class="inner">
        <header class="align-center">
            <h2> {% trans 'Add Courses' %}</h2>
        </header>
    </div>
</section>
<section id="two" class="wrapper style2">
    <div class="inner">
        <div class="box">
            {% block content %}
                <div class="content">
                    <header class="align-left">
                        <h2>New course</h2>
                    </header>
                    <form method="POST" class="course-form">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Add course</button>
                    </form>
                </div>
            {% endblock %}
        </div>
    </div>
</section>
{% include "footer.html" %}
</body>
</html>
