{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
<html>
{% include "header.html" %}
<body>
{% include "navbar.html" %}
<section id="one" class="wrapper style3">
    <div class="inner">
        <header class="align-center">
            <h2>{{ course.title }} - {% trans "Add Course Entry" %}</h2>
        </header>
    </div>
</section>
<section id="two" class="wrapper style2">
    <div class="inner">
        <div class="box">
            {% block content %}
                <div class="content">
                    <h2>{% trans "Course entry" %}</h2>
                    <form method="POST" class="course-form">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">{% trans "Save"%}</button>
                    </form>
                </div>
            {% endblock %}
        </div>
    </div>
</section>
</body>
</html>
