{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
<html>
{% include "header.html" %}
<body>
{% include "navbar.html" %}
<section id="one" class="wrapper style3">
    <div class="inner">
        <header class="align-center">
            <h2>{{ course.title }}</h2>
        </header>
    </div>
</section>
<section id="two" class="wrapper style2">
    <div class="inner">
        <h3>
            <a href="/courses/course/{{course.pk}}">
                <i class="fas fa-arrow-left"></i>&nbsp;{% trans "Course" %}: {{ course.title }}
            </a>
        </h3>
        <div class="box">
            {% block content %}
                <div class="content">
                    <form id="input-form" class="form-inline">
                        {% csrf_token %}
                        <div class="form-group">
                          <input id="input-handle" type="hidden" class="form-control" value="{{ user.first_name }}"  />
                        </div>
                        <div class="form-group">
                          <input id="input-text" type="text" class="form-control" placeholder="Enter chat text here" autofocus />
                        </div>
                        <button class="btn btn-primary" type="submit">Send</button>
                    </form>
                    <div class="table">
                        <table>
                            <tbody id="chat-text">
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
</section>
<script>
var box = new ReconnectingWebSocket("wss://edu-marketplace-chat.herokuapp.com/ws");
var chatId = '{{ course.pk }}';

box.onmessage = function(message) {
  var data = JSON.parse(message.data);
  console.log(data)
  if(chatId == data.chatId) {
      $("#chat-text").append("<tr><td><b>" + data.handle + "</b></td><td>" + data.text + "</td></tr>");
      $("#chat-text").stop().animate({
        scrollTop: $('#chat-text')[0].scrollHeight
      }, 800);
  }
};

box.onclose = function(){
    console.log('box closed');
    this.box = new WebSocket(box.url);
};

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

$("#input-form").on("submit", function(event) {
  event.preventDefault();
  var handle = $("#input-handle")[0].value;
  var text   = $("#input-text")[0].value;
  var data   = {handle: handle, text: text, chatId: chatId};
  box.send(JSON.stringify(data));
  $("#input-text")[0].value = "";

  var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
  $.ajaxSetup({
      beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
      }
  });

  $.ajax({
      type: "POST",
      url: "/courses/save_chat_message/",
      data: data,
      async: false,
      success: function(data){
          console.log(data);
      },
      error: function(data){
          console.log(data);
      }
  });
});

$.ajax({
    type: "GET",
    url: "/courses/get_chat_message/{{ course.pk }}",
    success: function(data){
        console.log(data);
        for(let i = 0; i < data.length; i++){
          let message = data[i].fields;
          $("#chat-text").append("<tr><td><b>" + message.handle + "</b></td><td>" + message.text + "</td></tr>");
        }
    },
    error: function(data){
        console.log(data);
    }
});

</script>
</body>
</html>
