{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
<html>
{% include "header.html" %}
<body>
{% include "navbar.html" %}
<section id="one" class="wrapper style3">
    <div class="inner">
        <header class="align-center">
            <h2>{{ course.title }}</h2>
        </header>
    </div>
</section>
<section id="two" class="wrapper style2">
    <div class="inner">
        <h3>
            <a href="/courses">
                <i class="fas fa-arrow-left"></i>&nbsp; {% trans "All courses" %}
            </a>
        </h3>
        <div class="box">
            {% block content %}
                <div class="content">
                {% if course.created_date %}
                    <div class="date">{{ course.created_date }}</div>
                {% endif %}
                    <h2>{{ course.title }}</h2>
                    {% if user != course.owner and user_enrolled %}
                        <span class="rating_stars rating_0">
                            <span class='s' data-low='0.5' data-high='1'><i class="fa fa-star-o"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star"></i></span>
                            <span class='s' data-low='1.5' data-high='2'><i class="fa fa-star-o"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star"></i></span>
                            <span class='s' data-low='2.5' data-high='3'><i class="fa fa-star-o"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star"></i></span>
                            <span class='s' data-low='3.5' data-high='4'><i class="fa fa-star-o"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star"></i></span>
                            <span class='s' data-low='4.5' data-high='5'><i class="fa fa-star-o"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star"></i></span>
                            <span class='r r0_5' data-rating='1' data-value='0.5'></span>
                            <span class='r r1' data-rating='1' data-value='1'></span>
                            <span class='r r1_5' data-rating='15' data-value='1.5'></span>
                            <span class='r r2' data-rating='2' data-value='2'></span>
                            <span class='r r2_5' data-rating='25' data-value='2.5'></span>
                            <span class='r r3' data-rating='3' data-value='3'></span>
                            <span class='r r3_5' data-rating='35' data-value='3.5'></span>
                            <span class='r r4' data-rating='4' data-value='4'></span>
                            <span class='r r4_5' data-rating='45' data-value='4.5'></span>
                            <span class='r r5' data-rating='5' data-value='5'></span>
                            <span class='r current' id="total-rating"></span>
                        </span>
                        <div class="values">
                            <div>
                                <label><input type="hidden" id="rating" value="0" /></label>
                                <label><input type="hidden" name="rating" id="rating_val" value="0" /></label>
                            </div>
                        </div>
                        <a href='/courses/chat/{{ course.pk }}' class="button special">
                            <i class="fa fa-comments"></i>
                        </a>
                        <br/><br/>
                    {% else %}
                        <div id="rating-not-enrolled"></div>
                    {% endif %}
                <div class="table-wrapper">
                    <table>
                        <tbody>
                            <tr>
                                <td><b>{% trans "Topic" %}</b></td>
                                <td>{{ course.topic }}</td>
                            </tr>
                            <tr>
                                <td><b>{% trans "Author" %}</b></td>
                                <td>{{ course.owner.first_name }}</td>
                            </tr>
                            <tr>
                                <td><b>{% trans "Price" %}</b></td>
                                <td>{{ course.price }}</td>
                            </tr>
                            <tr>
                                <td><b>{% trans "Description" %}</b></td>
                                <td>{{ course.description }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    {% if user != course.owner  %}
                        {% if user_enrolled %}
                        <b>{% trans "You are enrolled" %} <a href="/courses/unenroll/{{ course.pk }}">{% trans "Unenroll" %}</a>?</b>
                        {% else %}
                        <a href='/courses/pay/{{ course.pk }}' class="button special fit">{% trans "Purchase" %}</a>
                        {% endif %}
                    {% else %}
                    <b><a href='/courses/enrolled_list/{{ course.pk }}/'>{% trans "Enrolled students" %}</a></b>
                        <br/><br/>
                    {% endif %}
                </div>
                <ul>
                    {% if not user_enrolled %}
                    <h4><b>{% trans "NOTE" %}</b>: {% trans "Before accessing course contents you should purchase the course."%}</h4>
                        {% for entry in course_entries %}
                            <li>{{entry.name}}</li>
                        {% endfor %}
                    {% elif user == course.owner %}
                        {% for entry in course_entries %}
                            {% if entry.entry_type == 'lesson' %}
                                <li><a href="/courses/lesson/{{ entry.pk }}">{{entry.name}}</a></li>
                            {% endif %}
                            {% if entry.entry_type == 'video' %}
                                <li><a href="/courses/video/{{ entry.pk }}">{{entry.name}}</a></li>
                            {% endif %}
                            {% if entry.entry_type == 'quiz' %}
                                <li><a href="/courses/quiz/{{ entry.pk }}">{{entry.name}}</a></li>
                            {% endif %}
                            {% if entry.entry_type == 'assignment' %}
                                <li><a href="/courses/assignment/{{ entry.pk }}">{{entry.name}}</a></li>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <div id="progress-wrapper">
                            <label for="progress-bar">{% trans "Progress" %}:</label>
                            <progress id="progress-bar" max="100" value="0"></progress>
                            <div id="progress-bar-message"></div>
                        </div>
                        <hr>
                        {% for entry in course_progression %}
                            {% if entry.course_entry.entry_type == 'lesson' %}
                                <li>
                                    <div>
                                        <div class="left">
                                            <a href="/courses/lesson/{{ entry.course_entry.pk }}">{{ entry.course_entry.name }}</a>
                                        </div>
                                        <div class="right">
                                            {% if entry.completed %}
                                            <span style="color: darkgreen; "><i class="fas fa-check-circle"></i>{% trans "Completed" %}</span>
                                            {% else %}
                                            <span style="color: red; ">{% trans "In progress"%}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </li>
                            {% endif %}
                            {% if entry.course_entry.entry_type == 'video' %}
                                <li>
                                    <div>
                                        <div class="left">
                                            <a href="/courses/video/{{ entry.course_entry.pk }}">{{entry.course_entry.name}}</a>
                                        </div>
                                        <div class="right">
                                            {% if entry.completed %}
                                            <span style="color: darkgreen; "<i class="fas fa-check-circle"></i>{% trans "Completed" %}</span>
                                            {% else %}
                                            <span style="color: red; ">{% trans "In progress"%}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </li>
                            {% endif %}
                            {% if entry.course_entry.entry_type == 'quiz' %}
                                <li>
                                    <div>
                                        <div class="left">
                                            <a href="/courses/quiz/{{ entry.course_entry.pk }}">{{ entry.course_entry.name }}</a>
                                        </div>
                                        <div class="right">
                                            {% if entry.completed %}
                                            <span style="color: darkgreen; "><i class="fas fa-check-circle"></i>{% trans "Completed" %}</span>
                                            {% else %}
                                            <span style="color: red; ">{% trans "In progress"%}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </li>
                            {% endif %}
                            {% if entry.course_entry.entry_type == 'assignment' %}
                                <li>
                                    <div>
                                        <div class="left">
                                            <a href="/courses/assignment/{{ entry.course_entry.pk }}">{{ entry.course_entry.name }}</a>
                                        </div>
                                        <div class="right">
                                            {% if entry.completed %}
                                            <span style="color: darkgreen; "><i class="fas fa-check-circle"></i>{% trans "Completed" %}</span>
                                            {% else %}
                                            <span style="color: red; ">{% trans "In progress"%}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </ul>
                <hr>
                {% if user == course.owner %}
                <p><a href='/courses/add_entry/{{ course.pk }}' class="button special">{% trans "Add course entry" %}</a></p>
                {% endif %}
                </div>
            {% endblock %}
        </div>
    </div>
</section>
<script>
    $(document).ready(function(){
        let is_enrolled = "{{ user_enrolled }}";
        let course_owner = "{{ course.owner}}";
        let user = "{{ user }}";
        let is_owner = false;
        if (course_owner.localeCompare(user) === 0) {
            is_owner = true;
        }
        console.log('is_enrolled=' + is_enrolled);
        console.log('is_owner=' + is_owner);

        // Helper functions
        function updateProgress() {
            let url = "/courses/get_progress/{{ course.pk }}";
            fetch(url).then(function(response) {
                response.json().then(function(progress) {
                    if (progress.total !== 0) {
                        document.getElementById("progress-bar").value = progress.completed / progress.total * 100;
                        document.getElementById("progress-bar-message").innerHTML =
                            progress.completed + ' of ' + progress.total + ' course entries completed.';
                    } else {
                        document.getElementById("progress-bar").value = 0;
                        document.getElementById("progress-bar-message").innerHTML =
                            progress.completed + ' of ' + progress.total + ' course entries completed.';
                    }
                    if(progress.completed === progress.total) {
                       document.getElementById("progress-wrapper").innerHTML += '<h1><a href="/courses/certificate/{{ course.pk }}">Download certificate of completion</a></h1>';
                    }
                });
            });
        }

        function isRatingSet() {
            let user_rating = "/courses/get_user_rating/{{ course.pk }}";
            fetch(user_rating).then(function(response) {
                response.json().then(function(user_rating) {
                    let curr_user_rating = parseFloat(user_rating.value);
                    console.log('in isRatingSet() and curr_user_rating = ' + curr_user_rating);
                    if (curr_user_rating !== 0.0) {
                        // Disable 'rating' if the user has rated a course already
                        $('.rating_stars span.r').unbind("click").unbind('mouseenter mouseleave');
                    }
                });
            });
        }

        function updateRating() {
            if (is_enrolled && !is_owner) {
                let user_rating = "/courses/get_user_rating/{{ course.pk }}";
                fetch(user_rating).then(function (response) {
                    response.json().then(function (user_rating) {
                        console.log('user rating set, user_rating = ' + user_rating.value);
                        highlight_star(parseFloat(user_rating.value));
                    });
                });
            }

            let course_rating = "/courses/get_course_rating/{{ course.pk }}";
            fetch(course_rating).then(function(response) {
                response.json().then(function(course_rating) {
                    console.log('course rating set');
                    if (is_enrolled && !is_owner) {
                        document.getElementById("total-rating").innerHTML = 'Total rating: ' + course_rating.value;
                    } else {
                        document.getElementById("rating-not-enrolled").innerHTML =
                            "<h4>Total rating: " + course_rating.value + "</h4>";
                    }
                });
            });
        }

        // Perform all the information retrieval
        if (is_enrolled && !is_owner) {
            isRatingSet();
            updateProgress();
        }
        updateRating();

        // Rating logic
        $('.rating_stars span.r').hover(
            function() {
                // Get a hovered value
                let rating = $(this).data('rating');
                let value = $(this).data('value');
                $(this).parent().attr('class', '').addClass('rating_stars').addClass('rating_'+rating);
                highlight_star(value);
            }, function() {
                // Get a hidden-field value
                let rating = $("#rating").val();
                let value = $("#rating_val").val();
                $(this).parent().attr('class', '').addClass('rating_stars').addClass('rating_'+rating);
                highlight_star(value);
            }
        ).click(function() {
            // Set a hidden-field value on click
            let value = $(this).data('value');
            $("#rating_val").val(value);
            let rating = $(this).data('rating');
            $("#rating").val(rating);

            highlight_star(value);
            // Disable 'rating'
            $('.rating_stars span.r').unbind("click").unbind('mouseenter mouseleave');

            let url = "/courses/set_rating/{{ course.pk }}/" + rating + "/";
            fetch(url);
        });

        const highlight_star = function(rating) {
            $('.rating_stars span.s').each(function() {
                let low = $(this).data('low');
                let high = $(this).data('high');
                $(this).removeClass('active-high').removeClass('active-low');
                if (rating >= high) {
                    $(this).addClass('active-high');
                } else if (rating === low) {
                    $(this).addClass('active-low');
                }
            });
        }
    });
</script>
</body>
</html>
