{% load static %}
{% load crispy_forms_tags %}
<html>
{% include "header.html" %}
<body>
{% include "navbar.html" %}
<section id="one" class="wrapper style3">
    <div class="inner">
        <header class="align-center">
            <h2>{{ course.title }}</h2>
        </header>
    </div>
</section>
<section id="two" class="wrapper style2">
    <div class="inner">
        <div class="box">
            {% block content %}
                <div class="content">
                {% if course.created_date %}
                    <div class="date">{{ course.created_date }}</div>
                {% endif %}
                <h2>{{ course.title }}</h2>
                <p><b> Topic: </b> {{ course.topic }} </p>
                <p><b> Author: </b> {{ course.owner.first_name }} </p>
                <p><b>Price: </b> {{ course.price }} KZT</p>
                <p>
                    {% if user != course.owner  %}
                        {% if user_enrolled %}
                            <b>You are enrolled</b>
                        {% else %}
                            <form method="POST" class="course-form" action="/courses/enroll/{{ course.pk }}/">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-success">Enroll</button>
                            </form>
                        {% endif %}
                    {% else %}
                        <a href='/courses/enrolled_list/{{ course.pk }}/'>Enrolled students</a>
                    {% endif %}
                </p>
                <p>{{ course.description|linebreaksbr }}</p>
                <ul>
                    {% for entry in course_entries %}
                        {% if entry.entry_type == 'lesson' %}
                            {% if user_enrolled %}
                                <li><a href="/courses/lesson/{{ entry.pk }}">{{entry.name}}</li>
                            {% else %}
                                <li>
                                    <button type = "button" class="btn btn-link" data-toggle="tooltip" data-placement="top" title="You should be enrolled to course first, before accessing course content">
                                        {{entry.name}}
                                    </button>
                                </li>
                            {% endif %}
                        {% endif %}
                        {% if entry.entry_type == 'video' %}
                            <li><a href="/courses/video/{{ entry.pk }}">{{entry.name}}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <hr>
                {% if user == course.owner %}
                    <p><a href='/courses/add_entry/{{ course.pk }}' class="button special">Add course entry</a></p>
                {% endif %}
                </div>
            {% endblock %}
        </div>
    </div>
</section>
</body>
</html>
