{% load static %}
{% load crispy_forms_tags %}
<html>
{% include "header.html" %}
<body>
{% include "navbar.html" %}
<section id="one" class="wrapper style3">
    <div class="inner">
        <header class="align-center">
            <h2>Courses</h2>
        </header>
    </div>
</section>
<section id="one" class="wrapper style3">
    <div class="inner">
        <header class="align-center">
            <a class="button special" href="/courses/add_courses">Add course</a>
        </header>
    </div>
</section>
{% if courses %}
    <section id="two" class="wrapper style2">
        <div class="inner">
            <div class="grid-style">
                {% for course, user_info in courses %}
                    <div>
                        <div class="box">
                            <div class="content">
                                <div class="article-metadata">
                                    <a class="mr-2" href="{% url 'user_detail' username=course.owner.username %}">
                                        {{ course.owner.first_name }}
                                    </a>
                                    <small class="text-muted">{{ course.date_created|date:"F d, Y" }}</small>
                                </div>
                                <header class=".align-left">
                                    <h2>{{ course.title }}</h2>
                                </header>
                                <h3>{{ course.topic }} </h3>
                                <p class="article-content">{{ course.description|linebreaksbr }}</p>
                                <h4>{{ course.price }} KZT</h4>
                                <footer class="align-center">
                                    {# check for the course_owner #}
                                    {% if user_info.1 %}
                                        <a href="/courses/course/{{course.pk}}" class="button alt">Manage Your Course</a>
                                    {# check for the enrolled user #}
                                    {% elif user_info.0 %}
                                        <a href="/courses/course/{{course.pk}}" class="button alt">Continue Learning</a>
                                    {% else %}
                                        <a href="/courses/course/{{course.pk}}" class="button alt">Learn More</a>
                                    {% endif %}
                                </footer>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% else %}
    <section id="two" class="wrapper style3">
        <div class="inner">
            <header class="align-center">
                <h2>There are no courses right now!</h2>
            </header>
        </div>
    </section>
{% endif %}
{% include "footer.html" %}
</body>
</html>