{% load static %}
{% load crispy_forms_tags %}
<html>
{% include "header.html" %}
<body>
{% include "navbar.html" %}
<section id="one" class="wrapper style3">
    <div class="inner">
        <header class="align-center">
            <h2>{{ course.title }} - Enrolled Students</h2>
        </header>
    </div>
</section>
<section id="two" class="wrapper style2">
    <div class="inner">
        <div class="grid-style">
            {% for enrolled_user, progress in user_to_progress.items %}
                 <div>
                     <div class="box">
                         <div class="content">
                             <h3>
                                 <a class="mr-2" href="{% url 'user_detail' username=enrolled_user.username %}">
                                     {{ enrolled_user.first_name }}{{ enrolled_user.last_name }}
                                 </a>
                             </h3>
                             <label for="progress-bar">Progress: {{ progress}}%</label>
                             <progress id="progress-bar" max="100" value="{{ progress }}"></progress>
                         </div>
                     </div>
                 </div>
            {% endfor %}
        </div>
    </div>
</section>
{% include "footer.html" %}
</body>
</html>
