{% load static %}
{% load crispy_forms_tags %}
<html>
{% include "header.html" %}

<head>
    <script>
        $(document).ready(function(){
            function updateContent(){
                var url = "/courses/get_quiz_content/{{ quiz.pk }}/";

                $.ajax({
                    type: "GET",
                    url: url,
                    success: function(data){
                        var questions = data['questions'];
                        var questionsHTML = "";
                        for (var i = 0; i < questions.length; i++) {
                            var question = questions[i];
                            var name = question.name;
                            questionsHTML += "<h4>Question " + (i + 1) + ": " + name + "</h4><br>";
                            questionsHTML += "<ol type='a'>";
                            for(var j = 0; j < question.answers.length; j++){
                                var answer = question.answers[j];
                                questionsHTML += "<input type='radio' name="+i+"> <label>" + answer.name + "</label><br>";
                            }
                            questionsHTML += "</ol>"
                        }
                        $("#quiz").html(questionsHTML);
                    }
                });
            }
            updateContent();
        });
    </script>
</head>
<body>
{% include "navbar.html" %}
<section id="one" class="wrapper style3">
    <div class="inner">
        <header class="align-left">
            <h2>
                <a href="/courses/course/{{quiz.course_entry.course.pk}}">
                    <i class="fas fa-arrow-left"></i> Course: {{ quiz.course_entry.course.title }}
                </a>
            </h2>
        </header>
    </div>
</section>
<section id="two" class="wrapper style2">
    <div class="inner">
        <div class="box">
            <div class="content">
                <h3 class="display-4">
                    {{ quiz.course_entry.name }}
                </h3>
                {% if user == quiz.course_entry.course.owner %}
                    <a href='/courses/save_quiz/{{quiz.pk}}'><i class="fas fa-edit"></i> Edit</a>
                {% endif %}
                <hr>
                {% block content %}
                    <div id="quiz">
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
</section>
{% include "footer.html" %}
</body>
</html>
