{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
<html>
{% include "header.html" %}
<body>
{% include "navbar.html" %}
<section id="one" class="wrapper style3">
    <div class="inner">
        <div class="content">
            <div class="media">
                <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
                <div class="media-body">
                    <h2 class="account-heading">{{ user.first_name }}{{ user.last_name }}</h2>
                    <p class="text-secondary">{{ user.username }}</p>
                    <p class="text-secondary">{{ user.email }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% if courses %}
    <section id="two" class="wrapper style2">
        <div class="inner">
            <div class="grid-style">
                {% for course in courses %}
                    <div>
                        <div class="box">
                            <div class="content">
                                <header class=".align-left"><h2>{{ course.title }}</h2></header>
                                <h3>{{ course.topic }} </h3>
                                <p class="article-content">{{ course.description|linebreaksbr }}</p>
                                <h4>{{ course.price }} {% trans "KZT" %}</h4>
                                <footer class="align-center">
                                    <a href="/courses/course/{{course.pk}}" class="button alt"> {% trans "Learn More" %}</a>
                                </footer>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% else %}
    <section id="two" class="wrapper style3">
        <div class="inner">
            <header class="align-center">
                <h2>{% trans "This user has no courses published" %}</h2>
            </header>
        </div>
    </section>
{% endif %}
{% include "footer.html" %}
</body>
</html>
