{% load static %}
{% load i18n %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Massive open online courses platform adapted to Kazakhstani needs that gives an online experience of teaching and learning courses">

    <title>EduMarketplace Web Application for Students and Teachers</title>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/main.css' %}">

    <!-- JavaScript -->
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
    <script src="{% static 'assets/js/skel.min.js' %}"></script>
    <script src="{% static 'assets/js/util.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="https://edu-marketplace-chat.herokuapp.com/js/reconnecting-websocket.min.js"></script>
    <script src="https://kit.fontawesome.com/84022fcfa9.js" crossorigin="anonymous"></script>
</head>
