<header id="header" class="alt">
    <div class="logo"><a href="/">Edu Marketplace</a></div>
    {% if user.is_authenticated %}
        <a class="nav-item nav-link" href="/profile">Profile</a>
        <a class="nav-item nav-link" href="/users/logout">Log out</a>
    {% else %}
        <a class="nav-item nav-link" href="/users/login/auth0">Login</a>
        <a class="nav-item nav-link" href="/users/login/auth0">Register</a>
    {% endif %}
    <a href="#menu">Menu</a>
</header>
<nav id="menu">
    <ul class="links">
        <li><a href="/">Home</a></li>
        <li><a href="/courses">Courses</a></li>
        <li><a href="/users/contact_us">Contact us</a></li>
        <li><a href="/users/faq">FAQ</a></li>
    </ul>
</nav>
